<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        /* Style for the buttons */
        button {
            width: 200px; /* Set the width */
            height: 200px; /* Set the height */
            font-size: 20px; /* Adjust font size as needed */
            /* Add any other styles you want */
        }
    </style>

    <!--TODO This only works with an internet connection. If we continue to use Plotly, we will need to download and package it with the app -->
    <script src="https://cdn.plot.ly/plotly-2.25.2.min.js" charset="utf-8"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {

            let chartInitialized = false;
            let socket;
            let messageCounter = 0; // Initialize message counter

            document.getElementById('startButton').addEventListener('click', function () {


                socket = new WebSocket(`ws://${window.location.host}/subscribe/lidar/data`);

                // Initialize Plotly chart
                socket.onopen = function (event) {
                    console.log('WebSocket connection established');
                };
                socket.onmessage = function (event) {
                    messageCounter++;
                    console.log('Message received.');
                    //console.log(event.data);

                    // Check if the current message is the 100th message
                    if (1 === 1){//messageCounter % 1 === 0) {

                        // Parse data received from WebSocket
                        const data = JSON.parse(event.data);

                        // Extract x and y coordinates from data points
                        const xData = data['x'];//points.map(point => point.x);
                        const yData = data['y'];//points.map(point => point.y);
                        const zData = data['z'];//points.map(point => point.z);
                        console.log(xData, yData, zData);
                        console.log(Math.min(...zData));
                        console.log(Math.max(...zData));

                        // Define the colorscale (green-red)
                        const colorscale = [[0, 'green'], [1, 'red']];

                        const layout = {
                            xaxis: {
                                range: [0, 2] // Specify the range for the x-axis
                            },
                            yaxis: {
                                range: [-1, 1] // Specify the range for the y-axis
                            },
                            zaxis: {
                                //range: [Math.min(...zData), Math.max(...zData)] // Specify the range for the y-axis
                                autorange: true  // Automatically adjust the z-axis scale
                            }
                        };


                        const trace = {
                            x: xData,
                            y: yData,
                            z: zData,
                            mode: 'markers',
                            type: 'scatter3d',
                            marker: {
                                size: 1,
                                color: xData, // Set colors based on scaled yData
                                colorscale: colorscale,
                                colorbar: {
                                    title: 'Height', // Title for the colorbar
                                    ticksuffix: '' // Suffix for colorbar ticks
                                }
                            }
                        };

                        // Check if Plotly chart is initialized
                        if (!chartInitialized) {
                            Plotly.newPlot('chart', [trace], layout);
                            chartInitialized = true;

                        } else {

                            // Update existing trace with concatenated data
                            Plotly.extendTraces('chart', {
                                x: [xData],
                                y: [yData],
                                z: [zData],
                            }, [0]);

                            var full_xData = document.getElementById('chart').data[0].x;

                            Plotly.restyle('chart',
                                {
                                    marker: {
                                        size: 1,
                                        color: full_xData, // Set colors based on scaled yData
                                        colorscale: colorscale,
                                        colorbar: {
                                            title: 'Height', // Title for the colorbar
                                            ticksuffix: '' // Suffix for colorbar ticks
                                        }
                                    }
                                }
                            )
                        }
                    }
                };
                socket.onclose = function (event) {
                    console.log('WebSocket connection closed');
                };
                socket.onerror = function (error) {
                    console.error('WebSocket error: ', error);
                };


            });

            document.getElementById('stopButton').addEventListener('click', function () {
                // Reset chartInitialized to false
                chartInitialized = false;
                if (socket) {
                    socket.close(); // Close WebSocket connection if it's open
                }

            });

            document.getElementById('resetButton').addEventListener('click', function () {
                // Reset chartInitialized to false
                chartInitialized = false;
                Plotly.deleteTraces('chart', -1);

            });

            // Connect to WebSocket

        });
    </script>

</head>
<body>
<button id="startButton">Start</button>
<button id="stopButton">Stop</button>
<button id="resetButton">Reset</button>
<div id="chart" style="width: 90vh; height: 90vh; margin:auto;"></div>

</body>
</html>
